<footer class="container">
  <div class="row">
    <div class="col-12 text-center">
      <p class="text-small text-muted">
        &copy; <%= Time.current.year %> 
        <%= link_to "Сайт", pages_home_path, class: "text-muted" %> | 
        <%= link_to "Правила", pages_terms_path, class: "text-muted" %> | 
        <%= link_to "Політика конфеденційності", pages_privacy_path, class: "text-muted" %> | 
        <%= link_to "Про нас", pages_about_path, class: "text-muted" %> | 
        <%= link_to "Контакти", pages_contact_path, class: "text-muted" %>
      </p>
    </div>
  </div>
</footer>
